<div class="grid grid-cols-3 gap-8">
    <app-product  title="Producto 1" [price]="12" img="https://picsum.photos/640/640?r=23" (addToCart)="fromChild($event)"/>
    <app-product title="Producto 2" [price]="13" img="https://picsum.photos/640/640?r=2" (addToCart)="fromChild($event)"/>
    <app-product title="Producto 2" [price]="13" img="https://picsum.photos/640/640?r=3" (addToCart)="fromChild($event)"/>
    <app-product title="Producto 2" [price]="13" img="https://picsum.photos/640/640?r=4" (addToCart)="fromChild($event)"/>
    <app-product title="Producto 2" [price]="13" img="https://picsum.photos/640/640?r=5" (addToCart)="fromChild($event)"/>
    <app-product title="Producto 2" [price]="13" img="https://picsum.photos/640/640?r=6" (addToCart)="fromChild($event)"/>
</div>
